{% load static %}
<div class="container">
    <div class="row logoimg">
        <table align="center" valign="center">
            <tr>
                <td>
                    <a href="">
                        <img width="220px" src="{% static 'img/logo.png' %}" alt="logo"/>
                    </a>
                    <span>
              <p class="text-center">Hire your IT Expert in a Minute</p>
              </span>

                </td>
            </tr>
        </table>
    </div>
</div>